.filter__container{
    margin-top: 15px;
    margin-left: 230px;
}
.filter__form{
    display: flex;
    width: 574px;
    justify-content: space-between;
}
.form__btn{
    margin: 0;
    height: 30px;
    width: 100px;
    border-style: none;
    border-radius: 10px;
    background: #868686;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-family: Cormorant Garamond;
    font-size: 12px;
}
